<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Welcome to Our Museum Chatbot</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
</head>

<body>

  {% include 'navbar.html' %}
  <div class="content">
  <div class="museum-card">
    <h1>Welcome to Our Museum Chatbot</h1>
    <p class="info-note">
  This interactive museum chatbot experience is part of a usability research project.
  It is created for **testing and educational purposes only** and will not be used in real-world applications.
</p>

    <form action="{{ url_for('select_artist') }}" method="post">
      <label for="username">Enter your name:</label><br>
      <input type="text" id="username" name="username" required><br><br>

      <label for="age">Enter your age:</label><br>
      <input type="text" id="age" name="age" required><br><br>

      <button type="submit">Continue</button>
    </form>
  </div>
  </div>
  {% include 'footer.html' %}
</body>
</html>
